
.custom-bg {
  min-height: 100vh;
  background: radial-gradient(
      circle at top left,
      rgba(255, 255, 255, 0.185),
      transparent 15%
    ),
    radial-gradient(
      circle at bottom right,
      rgba(255, 255, 255, 0.185),
      transparent 15%
    ),
    #000;
}
/* Esse object-fit eu peguei do chat pq a foto tava cortando */
.foto-perfil {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border: 3px solid #fff;
}
/* O glass o chat q me deu ideia de fazer, mas entendi como funciona*/
.glass {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
}
